<!-- This ejs file will display all the 
 listings in the database and link 
 to the individual listing page. -->


<% layout('layouts/boilerplate') %>

    <body>
        <h3>All Listings</h3>
        <form methd="GET" action="/listings/new">
            <button>Create New Listing</button>
        </form>
        <ul>
            <%for(let listing of allListings){%>
                <li><a href="/listings/<%=listing._id%>">
                        <%=listing.title%>
                    </a></li>
                <%}%>
        </ul>
    </body>